<p>
  Congratulations <%= "#{@appointment.buyer.name} & #{@appointment.consumer.name}!" %>
  You two are going on an exclusive lunch date, at <%= "#{@appointment.buyer.name.pluralize}" %> expense!
</p>
